span {
    color: black;
}

.mainheader {
    background-color: white;
    height: 4rem;
    margin-top: -15px;
    margin-left: -10px;
    margin-right: -10px;
    align-items: center;
    display: flex;
    align-items: center;
}

.demanda {
    color: white;
    background-color: #8B5CF6;
}

.pesquisar {
    margin-top: 14px;
    margin-right: 4px !important;
    margin-left: 4rem;
}

.filtro {
    margin-right: auto;
}

p {
    margin-left: 34px;
    margin-top: 14px;
}

small {
    color: black;
}

.iconcor {
    color: #8B5CF6;
}