<div class="container-fluid">
	<div class="row flex-nowrap">
		<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
			<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
				<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
					<li class="nav-item">
						<a class="nav-link align-middle px-0">
						    <hand-outline-icon class="me-2 iconcor"></hand-outline-icon> <small class="ms-1 d-none d-sm-inline">Declaração de trabalho</small>
						</a>
					</li>

					<li>
						<a class="nav-link px-0 align-middle">
						    <light-bulb-outline-icon class="me-2 iconcor"></light-bulb-outline-icon> <small class="ms-1 d-none d-sm-inline">Pré-projetos</small>
						</a>
					</li>
					<li>
						<a class="nav-link px-0 align-middle">
						    <collection-outline-icon class="me-2 iconcor"></collection-outline-icon> <small class="ms-1 d-none d-sm-inline">Projetos</small>
						</a>
					</li>
					<li>
						<a class="nav-link px-0 align-middle">
						    <briefcase-outline-icon class="me-2 iconcor"></briefcase-outline-icon> <small class="ms-1 d-none d-sm-inline">Portifólios</small>
						</a>
					</li>
					<li>
						<a class="nav-link px-0 align-middle">
						    <document-text-outline-icon class="me-2 iconcor"></document-text-outline-icon> <small class="ms-1 d-none d-sm-inline">Controle de demandas</small>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col p-3" style="background-color: #EFEFEF;">
            <div class="mainheader">
                <p >Controle de demandas</p>

                <div class="input-group mb-3 w-25 pesquisar mx-auto">
                    <input type="text" class="form-control" placeholder="Pesquisar..." aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <button class="btn btn-outline-secondary" style="background-color: #FFA750;">
                    <view-grid-outline-icon></view-grid-outline-icon>
                </button>
                <button class="btn btn-outline-secondary me-1">
                    <view-list-outline-icon></view-list-outline-icon>
                </button>

                <button class="btn btn btn-outline-secondary filtro">
                    <filter-outline-icon></filter-outline-icon>
                </button>

                <button class="btn me-4 demanda">+ Nova Demanda</button>
            </div>
			
			<div class="py-2">
				<app-card></app-card>
			</div>
		</div>
	</div>
</div>


