.iconcor {
    color: #8B5CF6;
}

.backiconcolor {
    background-color: #EDE9FE;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 0px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.gerel {
    width: 50px;
    height: 22px;
    border-radius: 25px;
    text-align: center;
    padding: 0;
}

.vum {
    width: 30px;
    height: 22px;
    border-radius: 25px;
    padding: 0;
}

.fbtv {
    width: 23px;
    height: 23px;
    border-radius: 25px;
    background-color: #EDE9FE;
    color: #8B5CF6;
    padding: 0;
    margin-top: 2px;
}

.sizeG {
    font-size: 10px;
}

p {
    margin-top: 3px;
}

.iconuser {
    border-radius: 25px;
    margin-top: 3px;
}

.mar {
    margin-top: -15px;
}

.tamanho {
    width: 100%;
}

progress::-webkit-progress-bar {background-color: #F5F5F5 !important; width: 100% !important; border-radius: 25px; height: 5px;}
progress::-webkit-progress-value {background-color: #8B5CF6 !important; border-radius: 25px; height: 5px;}